<jsv-header>
    <button-header-left onclick="$JSView.goToView('inici')">< Inici</button-header-left>
    Júpiter
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Júpiter</h1>
		
		<img alt="Foto Júpiter" width="300" height="300"
  		src="data:http://orig06.deviantart.net/3d44/f/2014/073/f/9/jupiter_by_kalin1998-d7a71xe.gif"
		
		</p>
		Júpiter és el planeta més gran del sistema solar i el cinquè segons la seva distància al Sol.
		Té un diàmetre de 142.984 km (unes 11 vegades el de la Terra).
		La seva òrbita se situa aproximadament a 5 UA (750 000 000 km) del Sol,
		entre les òrbites de Mart i Saturn.
		</p>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('saturno')">Mercuri</button>
		
	</div>
	
</jsv-content>

