<jsv-header>
    <button-header-left onclick="$JSView.goToView('inici')">< Inici</button-header-left>
    saturno
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">saturno</h1>
		
		<img alt="Foto saturno" width="300" height="300"
  		src="data:"http://www.clker.com/cliparts/4/c/1/d/11949897252119785523saturn_dan_gerhards_01.svg.hi.png"
		
		</p>
		Saturn és el sisè planeta en ordre de proximitat al Sol i el segon més gran del sistema solar,
		després de Júpiter.
		Es classifica com un gegant gasós o jovià, 
		que significa 'semblant a Júpiter'.
		S'anomena així en honor al déu romà Saturnus, 
		equivalent al déu grec Kronos (el pare tità de Zeus), 
		al babiloni Ninurta i a l'hindú Shani.
		</p>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('urano')">Mercuri</button>
		
	</div>
	
</jsv-content>
